@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #042940;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat';
  color: #042940;
}

p {
  font-family: 'Roboto';
  color: #042940;
}

a {
  font-family: 'Montserrat';
}

a:hover {
  -webkit-text-decoration: 2px underline #DBF227;
          text-decoration: 2px underline #DBF227;
}

a:active {
  color: #9FC131;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: #DBF227;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0px 5px 5px 5px black;
          box-shadow: 0px 5px 5px 5px black;
}

.navbar h1 {
  color: #005C53;
  cursor: pointer;
}

.navbar .navbar__menu-button {
  margin-right: 40px;
  border: none;
  background-color: transparent;
  color: #042940;
  cursor: pointer;
  z-index: 1;
}

.navbar .navbar__menu-button svg {
  width: 30px;
  height: 30px;
}

.navbar .navbar__menu {
  width: 50vw;
  height: 100vh;
  padding-left: 20px;
  padding-top: 20px;
  position: fixed;
  right: -60vw;
  top: 0;
  background-color: #005C53;
  -webkit-box-shadow: -3px 0px 10px 2px black;
          box-shadow: -3px 0px 10px 2px black;
  -webkit-transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 1.5s;
  transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 1.5s;
}

.navbar .navbar__menu.--expanded {
  right: 0vw;
}

.navbar .navbar__menu a {
  display: block;
  width: 300px;
  padding: 10px;
  color: #DBF227;
  font-size: 24px;
}

.home__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
  background-color: #042940;
}

.home__container .home__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 200px;
  margin: 40px;
  padding: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 7px 7px 10px 5px black;
          box-shadow: 7px 7px 10px 5px black;
  background-color: #DBF227;
  cursor: pointer;
}

.home__container .home__card p {
  text-align: center;
  color: #042940;
  font-weight: 900;
}

.home__container .home__card svg {
  width: 40px;
  height: 40px;
  margin: 5px;
}

@media screen and (min-width: 1139px) {
  .home__container {
    padding: 50px 190px;
  }
}

.facturacion__container {
  margin-top: 80px;
  background-color: #042940;
  padding: 30px 10px;
}

.facturacion__container h1 {
  color: #DBF227;
  font-weight: bold;
}

.facturacion__container table {
  background-color: #DBF227;
  border-radius: 7px;
  -webkit-box-shadow: 3px 3px 5px 5px black;
          box-shadow: 3px 3px 5px 5px black;
  margin: 30px 0;
}

.facturacion__container table thead th {
  color: #042940;
  padding: 8px 5px;
  border-bottom: 2px solid #042940;
}

.facturacion__container table tbody td {
  text-align: center;
  color: #042940;
  padding: 8px 0px;
}

.facturacion__container table tbody td .facturacion__cell .facturacion__input {
  width: 80px;
  margin-right: 5px;
}

.facturacion__container table tbody td .facturacion__cell .facturacion__button {
  width: 80px;
  border: none;
  background-color: #005C53;
  padding: 2px 5px;
}

.facturacion__container h2 {
  color: #DBF227;
  font-weight: bold;
}

.facturacion__container .facturacion__input {
  padding-left: 2px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.facturacion__container .facturacion__button {
  width: 187px;
  border: none;
  background-color: #005C53;
  padding: 2px 5px;
}

.facturacion__container p {
  color: #DBF227;
}

.volante__container {
  margin-top: 80px;
  background-color: #042940;
  padding: 30px 10px;
}

.volante__container h1 {
  color: #DBF227;
  font-weight: bold;
}

.volante__container table {
  background-color: #DBF227;
  border-radius: 7px;
  -webkit-box-shadow: 3px 3px 5px 5px black;
          box-shadow: 3px 3px 5px 5px black;
  margin: 30px 0;
}

.volante__container table thead th {
  color: #042940;
  padding: 8px 5px;
  border-bottom: 2px solid #042940;
}

.volante__container table tbody td {
  text-align: center;
  color: #042940;
  padding: 8px 0px;
}

.volante__container table tbody td .volante__cell .volante__input {
  width: 80px;
  margin-right: 5px;
}

.volante__container table tbody td .volante__cell .volante__button {
  width: 80px;
  border: none;
  background-color: #005C53;
  padding: 2px 5px;
}

.volante__container h2 {
  color: #DBF227;
  font-weight: bold;
}

.volante__container .volante__input {
  padding-left: 2px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.volante__container .volante__button {
  width: 187px;
  border: none;
  background-color: #005C53;
  padding: 2px 5px;
}

.volante__container p {
  color: #DBF227;
}

.facturas__container {
  margin-top: 80px;
  background-color: #042940;
  padding: 30px 10px;
}

.facturas__container h1 {
  color: #DBF227;
  font-weight: bold;
}

.facturas__container table {
  background-color: #DBF227;
  border-radius: 7px;
  -webkit-box-shadow: 3px 3px 5px 5px black;
          box-shadow: 3px 3px 5px 5px black;
  margin: 30px 0;
}

.facturas__container table thead th {
  color: #042940;
  padding: 8px 5px;
  border-bottom: 2px solid #042940;
}

.facturas__container table tbody td {
  text-align: center;
  color: #042940;
  padding: 8px 8px;
}

.clientes__container {
  margin-top: 80px;
  background-color: #042940;
  padding: 30px 10px;
}

.clientes__container h1 {
  color: #DBF227;
  font-weight: bold;
}

.clientes__container table {
  background-color: #DBF227;
  border-radius: 7px;
  -webkit-box-shadow: 3px 3px 5px 5px black;
          box-shadow: 3px 3px 5px 5px black;
  margin: 30px 0;
}

.clientes__container table thead th {
  color: #042940;
  padding: 8px 5px;
  border-bottom: 2px solid #042940;
}

.clientes__container table tbody td {
  text-align: center;
  color: #042940;
  padding: 8px 8px;
}

.proveedores__container {
  margin-top: 80px;
  background-color: #042940;
  padding: 30px 10px;
}

.proveedores__container h1 {
  color: #DBF227;
  font-weight: bold;
}

.proveedores__container table {
  background-color: #DBF227;
  border-radius: 7px;
  -webkit-box-shadow: 3px 3px 5px 5px black;
          box-shadow: 3px 3px 5px 5px black;
  margin: 30px 0;
}

.proveedores__container table thead th {
  color: #042940;
  padding: 8px 5px;
  border-bottom: 2px solid #042940;
}

.proveedores__container table tbody td {
  text-align: center;
  color: #042940;
  padding: 8px 8px;
}

.inventario__container {
  margin-top: 80px;
  background-color: #042940;
  padding: 30px 10px;
}

.inventario__container h1 {
  color: #DBF227;
  font-weight: bold;
}

.inventario__container table {
  background-color: #DBF227;
  border-radius: 7px;
  -webkit-box-shadow: 3px 3px 5px 5px black;
          box-shadow: 3px 3px 5px 5px black;
  margin: 30px 0;
}

.inventario__container table thead th {
  color: #042940;
  padding: 8px 5px;
  border-bottom: 2px solid #042940;
}

.inventario__container table tbody td {
  text-align: center;
  color: #042940;
  padding: 8px 8px;
}

.crear__container {
  margin-top: 100px;
  padding: 30px;
  background-color: #042940;
}

.crear__container h1 {
  color: #DBF227;
  font-weight: bold;
}

.crear__container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crear__container form input {
  width: 300px;
  margin: 20px;
  padding-left: 10px;
}

.crear__container form button {
  width: 300px;
  border: none;
  background-color: #DBF227;
}
/*# sourceMappingURL=styles.css.map */